@model List<Contract>

@{
    ViewData["Title"] = "Contract Overview";
}

<section id="home" class="container section">

    <a asp-action="create" asp-controller="contract" class="btn btn-warning mb-3"><strong>New Contract</strong></a>

    <h1>Contract Workflows</h1>

    <div class="row">
        <div class="col-12">
            <div>
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th class="align-middle" scope="col">Subject</th>
                            <th class="align-middle" scope="col">Status</th>
                            <th class="align-middle" scope="col"></th>
                            <th class="align-middle" scope="col">Created</th>
                            <th class="align-middle" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contract in @Model) {
                            <tr>
                                <th class="align-middle" scope="row"><a asp-controller="contract" asp-action="summary" asp-route-id="@contract.ContractID">@contract.Name</a> @if (contract.Status == ContractStatus.Changed){ <span class="badge rounded-pill bg-warning text-dark">Changed</span> }</th>
                                <td class="align-middle">@contract.Status</td>
                                <td class="align-middle">
                                    @{ if (contract.Status == ContractStatus.Sent) {
                                            <span class="material-icons text-success">send</span>
                                        }
                                        else if (contract.Status == ContractStatus.Closed) {
                                            <span class="material-icons text-success">check</span>
                                        }
                                    }
                                </td>
                                <td class="align-middle">@contract.Created</td>
                                <td class="align-middle">
                                    <div class="btn-group">
                                        <a asp-controller="contract" asp-action="summary" asp-route-id="@contract.ContractID" class="btn btn-primary">Summary</a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

