@model EditContractModel
@using TXTextControl.Web.MVC

@{
   ViewData["Title"] = "Contract Summary";

   byte[] octets = System.Text.Encoding.ASCII.GetBytes(Model.Contract.ContractID + ":" + Model.Contract.UserID);
   var envelope_code = Convert.ToBase64String(octets);
   var host = Context.Request.Scheme + "://" + Context.Request.Host;
}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div id="liveToast" class="toast hide text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <span class="material-icons">
                fact_check
            </span>&nbsp;
            <strong class="me-auto">Text Control eSign</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="liveToastMessage" class="toast-body">

        </div>
    </div>
</div>

<div id="editor"></div>

<section id="home" class="container section">

    <div class="row">

        <div class="col-md-12">

            <a asp-action="index" asp-controller="contract" class="btn btn-warning mb-3"><strong>Back</strong></a>

            <h2>Contract: <strong>@Model.Contract.Name</strong></h2>

            <p>
                Contract ID: <strong>@Model.Contract.ContractID</strong><br />
                From: <strong>@Model.Contract.Sender</strong>
            </p>

            <div class="row">

                <div class="col-md-6 mt-5">

                    @if (Model.Contract.Status == ContractStatus.Sent) {

                        <div class="card">
                            <h5 class="card-header bg-primary text-white">Status: @Model.Contract.Status</h5>
                            <div class="card-body">
                                <h5 class="card-title">The document has been sent to <strong>@Model.Contract.Signer.Name</strong>.</h5>
                                <p class="card-text">You will be notified in case changes are proposed or the document got accepted.</p>
                            </div>
                        </div>

                    }

                    @if (Model.Contract.Status == ContractStatus.Changed) {

                        <div class="card">
                            <h5 class="card-header bg-warning">Status: @Model.Contract.Status</h5>
                            <div class="card-body">
                                <h5 class="card-title"><strong>@Model.Contract.Signer.Name</strong> updated the document.</h5>
                                <p class="card-text">You can review and accept the changes by clicking 'Review'.</p>
                                <a asp-action="edit" asp-controller="contract" asp-route-id="@envelope_code" class="btn btn-warning"><strong>Review</strong></a>
                            </div>
                        </div>

                    }

                    @if (Model.Contract.Status == ContractStatus.Accepted) {

                        <div class="card">
                            <h5 class="card-header bg-success text-white">Status: @Model.Contract.Status</h5>
                            <div class="card-body">
                                <h5 class="card-title"><strong>@Model.Contract.Signer.Name</strong> accepted the document.</h5>
                                <p class="card-text">You can convert the contract into a signature process.</p>
                                <a asp-action="requestsignature" asp-controller="envelope" asp-route-id="@envelope_code" class="btn btn-warning"><strong>Request Signature</strong></a>
                            </div>
                        </div>

                    }

                </div>

            </div>

            </div>
            </div>

            <div class="row mt-5">

                <div class="col-md-3 d-none d-md-block box box-row">
                    <p>
                        Document name<br />
                        <strong>@Model.Contract.Name</strong>
                    </p>
                    <p>
                        <img class="img-fluid thumbnail-image" src="data:image/png;base64,@Model.Image" />
                    </p>
                    <p>
                        Created<br />
                        <strong>@Model.Contract.Created</strong>
                    </p>
                </div>

                <div class="col-md-8">
                    <h2 class="mb-5">Contract Details</h2>

                    <p>
                        User Link:<br />
                        <input class="copy-link" id="signatureLink" type="text" readonly value="@host/collaboration/edit/@envelope_code" /> <a href="#" onclick="TextControl.esign.copyLink('signatureLink')"><span class="material-icons text-success text-alignment">content_copy</span></a>
                    </p>

                    <p>
                        Document Access ID:<br />
                        <input class="copy-link" id="accessCode" type="text" readonly value="@envelope_code" /> <a href="#" onclick="TextControl.esign.copyLink('accessCode')"><span class="material-icons text-success text-alignment">content_copy</span></a>
                    </p>

                </div>

            </div>



</section>

