@model Envelope

<div class="row mt-5">

    <div class="col-md-8">

        <h2 class="mb-4">Document Audit Trail <span class="material-icons text-success">verified_user</span></h2>

        <div class="card">
            <div class="card-header">
                <span class="material-icons text-alignment">assignment_turned_in</span> Envelope Information
            </div>
            <div class="card-body">
                <h5 class="card-title">Created</h5>
                <p class="card-text">
                    By: @Model.Sender<br />
                    Date: @Model.Created
                </p>
            </div>
        </div>

        @if (Model.Status >= EnvelopeStatus.Sent) {
            <div class="card mt-3">
                <div class="card-header">
                    <span class="material-icons text-alignment">send</span> Envelope Distribution
                </div>
                <div class="card-body">
                    <h5 class="card-title">Sent</h5>
                    <p class="card-text">
                        @Model.Sent
                    </p>
                    <h5 class="card-title">Recipients</h5>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Signer Name</th>
                                <th scope="col">E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Signer signer in Model.Signers) {
                                <tr class="@(signer.SignerStatus == SignerStatus.Signed ? "table-success" : "table-primary")">
                                    <td>@signer.Name</td>
                                    <td>@signer.Email</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Time Stamp</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (StatusChanged statusChanged in signer.StatusChanged) {
                                                    <tr>
                                                        <td>@statusChanged.SignerStatus</td>
                                                        <td>@statusChanged.TimeStamp</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (Model.Status == EnvelopeStatus.Signed) {
            <div class="card mt-3">
                <div class="card-header">
                    <span class="material-icons text-alignment">drive_file_rename_outline</span> Signature
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fully Signed</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Signer</th>
                                <th scope="col">E-Mail</th>
                                <th scope="col">IP Address</th>
                                <th scope="col">Time of Signature</th>
                                <th scope="col">Number of Pages</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Signer signer in Model.Signers) {
                                <tr>
                                    <td>@signer.Name</td>
                                    <td>@signer.Email</td>
                                    <td>@signer.SignatureInformation.IPAddress</td>
                                    <td>@signer.SignatureInformation.TimeStamp</td>
                                    <td>@signer.SignatureInformation.NumPages</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>

</div>



